body {
  font-family: 'Montserrat';
/*  font-family: 'Ubuntu', sans-serif; */
}

#title {
  background-color: #ff4c68;
  color: #fff;

}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
}
h3{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat";

}
p{
  color: #8f8f8f;
}

/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 1.125rem;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

/* download button */
.download-button{
  margin: 5% 3% 0;
}

/* title image */
.iphone6{
  width: 23%;
  transform: rotate(25deg);
  padding: 24px;
  position: absolute;
  right: 25%;
}
/* features section */
#features{
  padding-top: 30px;
  background-color: #fff;
  position: relative;
}

.features-box{
  text-align: center;
}
.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonials section */
#testimonials{
  background-color:  #ef8172;
  color: #fff;
  text-align: center;

}
.testimonials-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}

/* press section styling */
#press{
  background-color:  #ef8172;
  padding-bottom: 7%;
  text-align: center;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section styling */
#pricing{
  text-align: center;
  padding: 100px;
}
/* .card{
  padding: 3%;
} */
.btn-block{
  width: 100%;
}
.col-pad{
  padding: 3%;
}
@media (max-width:1000px){

  .iphone6{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
  #title{
    text-align: center;
  }

}
